.dashboard{

display:flex;

min-height:calc(100vh - 70px);

width:100%;

}




.sidebar{

width:280px;

height:100vh;

background:#e91e63;

flex-shrink:0;

}




.content{

flex:1;

padding:40px;

background:#f5f6ff;

display:flex;

justify-content:center;

align-items:flex-start;

overflow:auto;

}