.login-page{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:#f4f8ff;

}

.login-logo{

width:180px;

height:auto;

margin-bottom:20px;

}

.login-page h2{

margin-bottom:25px;

color:#1769ff;

font-size:30px;

}

.login-page input{

width:320px;

padding:14px;

margin-bottom:18px;

border:1px solid #d9d9d9;

border-radius:10px;

font-size:16px;

outline:none;

}

.login-page input:focus{

border-color:#1769ff;

}

.login-page button{

width:320px;

padding:14px;

margin-bottom:10px;

border:none;

border-radius:10px;

background:#1769ff;

color:white;

font-size:16px;

font-weight:600;

cursor:pointer;

transition:0.3s;

}

.login-page button:hover{

background:#0d55d8;

}